In [56]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [57]:
df=pd.read_csv("/kaggle/input/credit-scores/credit_scores.csv")
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Score,Count_Auto Loan,Count_Credit-Builder Loan,Count_Personal Loan,Count_Home Equity Loan,Count_Not Specified,Count_Mortgage Loan,Count_Student Loan,Count_Debt Consolidation Loan,Count_Payday Loan
0,0x1608,CUS_0xd40,July,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,...,Good,1.0,1.0,1.0,1.0,0.0,0,0,0,0
1,0x160f,CUS_0x21b1,February,Rick Rothackerj,28.0,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
2,0x1612,CUS_0x21b1,May,Rick Rothackerj,28.0,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
3,0x1613,CUS_0x21b1,June,Rick Rothackerj,28.0,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
4,0x1615,CUS_0x21b1,August,Rick Rothackerj,28.0,004-07-5839,Teacher,34847.84,3037.986667,2.0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0

In [58]:
df.describe()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,...,Monthly_Balance,Count_Auto Loan,Count_Credit-Builder Loan,Count_Personal Loan,Count_Home Equity Loan,Count_Not Specified,Count_Mortgage Loan,Count_Student Loan,Count_Debt Consolidation Loan,Count_Payday Loan
count,33400.000000,3.340200e+04,33402.000000,33401.000000,33401.000000,33401.000000,33399.000000,33402.000000,33401.000000,33399.000000,...,33401.000000,33401.000000,33400.000000,33400.000000,33401.000000,33398.000000,33402.000000,33402.000000,33402.000000,33402.000000
mean,32.963503,1.804491e+05,4011.334675,17.670519,22.108410,77.573097,22.085661,32.578977,10.788656,28.006347,...,381.593738,0.422622,0.453293,0.440629,0.442113,0.442751,0.438596,0.440034,0.433597,0.456919
std,10.675508,1.461493e+06,3080.699813,121.454304,126.354985,484.539080,15.211226,232.884541,6.919779,192.461983,...,194.019292,0.660164,0.691428,0.675728,0.672521,0.669198,0.663418,0.672246,0.667527,0.686962
min,14.000000,7.005930e+03,303.645417,-1.000000,0.000000,1.000000,-5.000000,0.000000,-6.440000,0.000000,...,0.453456,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,1.876272e+04,1572.182500,4.000000,4.000000,8.000000,10.000000,9.000000,5.660000,3.000000,...,264.495337,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,33.000000,3.594296e+04,2986.635833,6.000000,6.000000,15.000000,19.000000,14.000000,9.740000,6.000000,...,324.625891,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,41.000000,6.984559e+04,5712.257083,8.000000,7.000000,22.000000,29.000000,19.000000,15.500000,9.000000,...,443.829323,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,95.000000,2.419806e+07,15204.633333,1798.000000,1499.000000,5797.000000,67.000000,4397.000000,36.290000,2597.000000,...,1552.946094,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,5.000000,5.000000,5.000000

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33402 entries, 0 to 33401
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             33402 non-null  object
 1   Customer_ID                    33402 non-null  object
 2   Month                          33400 non-null  object
 3   Name                           33401 non-null  object
 4   Age                            33400 non-null  float64
 5   SSN                            33402 non-null  object
 6   Occupation                     33400 non-null  object
 7   Annual_Income                  33402 non-null  float64
 8   Monthly_Inhand_Salary          33402 non-null  float64
 9   Num_Bank_Accounts              33401 non-null  float64
 10  Num_Credit_Card                33401 non-null  float64
 11  Interest_Rate                  33401 non-null  float64
 12  Delay_from_due_date            33399 non-null  float64
 13  Num_of_Delayed_Payment         33402 non-null  int64
 14  Changed_Credit_Limit           33401 non-null  float64
 15  Num_Credit_Inquiries           33399 non-null  float64
 16  Credit_Mix                     33402 non-null  object
 17  Outstanding_Debt               33402 non-null  float64
 18  Credit_Utilization_Ratio       33402 non-null  float64
 19  Credit_History_Age             33399 non-null  float64
 20  Payment_of_Min_Amount          33402 non-null  object
 21  Total_EMI_per_month            33398 non-null  float64
 22  Amount_invested_monthly        33402 non-null  float64
 23  Payment_Behaviour              33401 non-null  object
 24  Monthly_Balance                33401 non-null  float64
 25  Credit_Score                   33402 non-null  object
 26  Count_Auto Loan                33401 non-null  float64
 27  Count_Credit-Builder Loan      33400 non-null  float64
 28  Count_Personal Loan            33400 non-null  float64
 29  Count_Home Equity Loan         33401 non-null  float64
 30  Count_Not Specified            33398 non-null  float64
 31  Count_Mortgage Loan            33402 non-null  int64
 32  Count_Student Loan             33402 non-null  int64
 33  Count_Debt Consolidation Loan  33402 non-null  int64
 34  Count_Payday Loan              33402 non-null  int64
dtypes: float64(20), int64(5), object(10)
memory usage: 8.9+ MB

In [60]:
df=df.drop(["Name","SSN","ID","Customer_ID"],axis=1)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33402 entries, 0 to 33401
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Month                          33400 non-null  object
 1   Age                            33400 non-null  float64
 2   Occupation                     33400 non-null  object
 3   Annual_Income                  33402 non-null  float64
 4   Monthly_Inhand_Salary          33402 non-null  float64
 5   Num_Bank_Accounts              33401 non-null  float64
 6   Num_Credit_Card                33401 non-null  float64
 7   Interest_Rate                  33401 non-null  float64
 8   Delay_from_due_date            33399 non-null  float64
 9   Num_of_Delayed_Payment         33402 non-null  int64
 10  Changed_Credit_Limit           33401 non-null  float64
 11  Num_Credit_Inquiries           33399 non-null  float64
 12  Credit_Mix                     33402 non-null  object
 13  Outstanding_Debt               33402 non-null  float64
 14  Credit_Utilization_Ratio       33402 non-null  float64
 15  Credit_History_Age             33399 non-null  float64
 16  Payment_of_Min_Amount          33402 non-null  object
 17  Total_EMI_per_month            33398 non-null  float64
 18  Amount_invested_monthly        33402 non-null  float64
 19  Payment_Behaviour              33401 non-null  object
 20  Monthly_Balance                33401 non-null  float64
 21  Credit_Score                   33402 non-null  object
 22  Count_Auto Loan                33401 non-null  float64
 23  Count_Credit-Builder Loan      33400 non-null  float64
 24  Count_Personal Loan            33400 non-null  float64
 25  Count_Home Equity Loan         33401 non-null  float64
 26  Count_Not Specified            33398 non-null  float64
 27  Count_Mortgage Loan            33402 non-null  int64
 28  Count_Student Loan             33402 non-null  int64
 29  Count_Debt Consolidation Loan  33402 non-null  int64
 30  Count_Payday Loan              33402 non-null  int64
dtypes: float64(20), int64(5), object(6)
memory usage: 7.9+ MB

In [62]:
nan_col=df.isna().sum()

In [63]:
nan_col

Month                            2
Age                              2
Occupation                       2
Annual_Income                    0
Monthly_Inhand_Salary            0
Num_Bank_Accounts                1
Num_Credit_Card                  1
Interest_Rate                    1
Delay_from_due_date              3
Num_of_Delayed_Payment           0
Changed_Credit_Limit             1
Num_Credit_Inquiries             3
Credit_Mix                       0
Outstanding_Debt                 0
Credit_Utilization_Ratio         0
Credit_History_Age               3
Payment_of_Min_Amount            0
Total_EMI_per_month              4
Amount_invested_monthly          0
Payment_Behaviour                1
Monthly_Balance                  1
Credit_Score                     0
Count_Auto Loan                  1
Count_Credit-Builder Loan        2
Count_Personal Loan              2
Count_Home Equity Loan           1
Count_Not Specified              4
Count_Mortgage Loan              0
Count_Student Loan               0
Count_Debt Consolidation Loan    0
Count_Payday Loan                0
dtype: int64

In [64]:
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

In [65]:
si=SimpleImputer(missing_values=np.nan, strategy='mean')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33402 entries, 0 to 33401
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Month                          33400 non-null  object
 1   Age                            33400 non-null  float64
 2   Occupation                     33400 non-null  object
 3   Annual_Income                  33402 non-null  float64
 4   Monthly_Inhand_Salary          33402 non-null  float64
 5   Num_Bank_Accounts              33401 non-null  float64
 6   Num_Credit_Card                33401 non-null  float64
 7   Interest_Rate                  33401 non-null  float64
 8   Delay_from_due_date            33399 non-null  float64
 9   Num_of_Delayed_Payment         33402 non-null  int64
 10  Changed_Credit_Limit           33401 non-null  float64
 11  Num_Credit_Inquiries           33399 non-null  float64
 12  Credit_Mix                     33402 non-null  object
 13  Outstanding_Debt               33402 non-null  float64
 14  Credit_Utilization_Ratio       33402 non-null  float64
 15  Credit_History_Age             33399 non-null  float64
 16  Payment_of_Min_Amount          33402 non-null  object
 17  Total_EMI_per_month            33398 non-null  float64
 18  Amount_invested_monthly        33402 non-null  float64
 19  Payment_Behaviour              33401 non-null  object
 20  Monthly_Balance                33401 non-null  float64
 21  Credit_Score                   33402 non-null  object
 22  Count_Auto Loan                33401 non-null  float64
 23  Count_Credit-Builder Loan      33400 non-null  float64
 24  Count_Personal Loan            33400 non-null  float64
 25  Count_Home Equity Loan         33401 non-null  float64
 26  Count_Not Specified            33398 non-null  float64
 27  Count_Mortgage Loan            33402 non-null  int64
 28  Count_Student Loan             33402 non-null  int64
 29  Count_Debt Consolidation Loan  33402 non-null  int64
 30  Count_Payday Loan              33402 non-null  int64
dtypes: float64(20), int64(5), object(6)
memory usage: 7.9+ MB

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33402 entries, 0 to 33401
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Month                          33400 non-null  object
 1   Age                            33400 non-null  float64
 2   Occupation                     33400 non-null  object
 3   Annual_Income                  33402 non-null  float64
 4   Monthly_Inhand_Salary          33402 non-null  float64
 5   Num_Bank_Accounts              33401 non-null  float64
 6   Num_Credit_Card                33401 non-null  float64
 7   Interest_Rate                  33401 non-null  float64
 8   Delay_from_due_date            33399 non-null  float64
 9   Num_of_Delayed_Payment         33402 non-null  int64
 10  Changed_Credit_Limit           33401 non-null  float64
 11  Num_Credit_Inquiries           33399 non-null  float64
 12  Credit_Mix                     33402 non-null  object
 13  Outstanding_Debt               33402 non-null  float64
 14  Credit_Utilization_Ratio       33402 non-null  float64
 15  Credit_History_Age             33399 non-null  float64
 16  Payment_of_Min_Amount          33402 non-null  object
 17  Total_EMI_per_month            33398 non-null  float64
 18  Amount_invested_monthly        33402 non-null  float64
 19  Payment_Behaviour              33401 non-null  object
 20  Monthly_Balance                33401 non-null  float64
 21  Credit_Score                   33402 non-null  object
 22  Count_Auto Loan                33401 non-null  float64
 23  Count_Credit-Builder Loan      33400 non-null  float64
 24  Count_Personal Loan            33400 non-null  float64
 25  Count_Home Equity Loan         33401 non-null  float64
 26  Count_Not Specified            33398 non-null  float64
 27  Count_Mortgage Loan            33402 non-null  int64
 28  Count_Student Loan             33402 non-null  int64
 29  Count_Debt Consolidation Loan  33402 non-null  int64
 30  Count_Payday Loan              33402 non-null  int64
dtypes: float64(20), int64(5), object(6)
memory usage: 7.9+ MB

In [68]:
df["Month"],df['Occupation']

(0            July
 1        February
 2             May
 3            June
 4          August
            ...
 33397     January
 33398    February
 33399        July
 33400      August
 33401        June
 Name: Month, Length: 33402, dtype: object,
 0        Scientist
 1          Teacher
 2          Teacher
 3          Teacher
 4          Teacher
            ...
 33397    Architect
 33398    Architect
 33399    Architect
 33400    Architect
 33401     Mechanic
 Name: Occupation, Length: 33402, dtype: object)

In [69]:
st = SimpleImputer(missing_values=np.nan, strategy="most_frequent")

df_imputed = pd.DataFrame(st.fit_transform(df), columns=df.columns)

df=pd.DataFrame(df_imputed)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33402 entries, 0 to 33401
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Month                          33402 non-null  object
 1   Age                            33402 non-null  object
 2   Occupation                     33402 non-null  object
 3   Annual_Income                  33402 non-null  object
 4   Monthly_Inhand_Salary          33402 non-null  object
 5   Num_Bank_Accounts              33402 non-null  object
 6   Num_Credit_Card                33402 non-null  object
 7   Interest_Rate                  33402 non-null  object
 8   Delay_from_due_date            33402 non-null  object
 9   Num_of_Delayed_Payment         33402 non-null  object
 10  Changed_Credit_Limit           33402 non-null  object
 11  Num_Credit_Inquiries           33402 non-null  object
 12  Credit_Mix                     33402 non-null  object
 13  Outstanding_Debt               33402 non-null  object
 14  Credit_Utilization_Ratio       33402 non-null  object
 15  Credit_History_Age             33402 non-null  object
 16  Payment_of_Min_Amount          33402 non-null  object
 17  Total_EMI_per_month            33402 non-null  object
 18  Amount_invested_monthly        33402 non-null  object
 19  Payment_Behaviour              33402 non-null  object
 20  Monthly_Balance                33402 non-null  object
 21  Credit_Score                   33402 non-null  object
 22  Count_Auto Loan                33402 non-null  object
 23  Count_Credit-Builder Loan      33402 non-null  object
 24  Count_Personal Loan            33402 non-null  object
 25  Count_Home Equity Loan         33402 non-null  object
 26  Count_Not Specified            33402 non-null  object
 27  Count_Mortgage Loan            33402 non-null  object
 28  Count_Student Loan             33402 non-null  object
 29  Count_Debt Consolidation Loan  33402 non-null  object
 30  Count_Payday Loan              33402 non-null  object
dtypes: object(31)
memory usage: 7.9+ MB

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Score,Count_Auto Loan,Count_Credit-Builder Loan,Count_Personal Loan,Count_Home Equity Loan,Count_Not Specified,Count_Mortgage Loan,Count_Student Loan,Count_Debt Consolidation Loan,Count_Payday Loan
0,July,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,3.0,8,...,Good,1.0,1.0,1.0,1.0,0.0,0,0,0,0
1,February,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,7.0,1,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
2,May,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,3.0,1,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
3,June,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,3.0,0,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
4,August,28.0,Teacher,34847.84,3037.986667,2.0,4.0,6.0,3.0,4,...,Good,0.0,1.0,0.0,0.0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33397,January,28.0,Architect,20002.88,1929.906667,10.0,8.0,29.0,35.0,26,...,Poor,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33398,February,28.0,Architect,20002.88,1929.906667,10.0,8.0,29.0,33.0,25,...,Poor,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33399,July,28.0,Architect,20002.88,1929.906667,10.0,8.0,29.0,33.0,26,...,Standard,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33400,August,29.0,Architect,20002.88,1929.906667,10.0,8.0,29.0,33.0,25,...,Standard,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33401,June,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,5729.0,27.0,6,...,Poor,1.0,0.0,0.0,0.0,0.0,0,1,0,0

In [70]:
le=LabelEncoder();


df["Month"]=le.fit_transform(df['Month'])
df["Occupation"]=le.fit_transform(df['Occupation'])
df["Credit_Mix"]=le.fit_transform(df['Credit_Mix'])
df["Payment_of_Min_Amount"]=le.fit_transform(df['Payment_of_Min_Amount'])
df["Credit_Score"]=le.fit_transform(df['Credit_Score'])
df["Payment_Behaviour"]=le.fit_transform(df['Payment_Behaviour'])

x=df.drop("Credit_Score",axis=1)
y=df["Credit_Score"]
X_train,X_test,y_train,y_test=train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=1)

In [71]:
df

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Score,Count_Auto Loan,Count_Credit-Builder Loan,Count_Personal Loan,Count_Home Equity Loan,Count_Not Specified,Count_Mortgage Loan,Count_Student Loan,Count_Debt Consolidation Loan,Count_Payday Loan
0,4,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,3.0,8,...,0,1.0,1.0,1.0,1.0,0.0,0,0,0,0
1,2,28.0,13,34847.84,3037.986667,2.0,4.0,6.0,7.0,1,...,0,0.0,1.0,0.0,0.0,0.0,0,0,0,0
2,7,28.0,13,34847.84,3037.986667,2.0,4.0,6.0,3.0,1,...,0,0.0,1.0,0.0,0.0,0.0,0,0,0,0
3,5,28.0,13,34847.84,3037.986667,2.0,4.0,6.0,3.0,0,...,0,0.0,1.0,0.0,0.0,0.0,0,0,0,0
4,1,28.0,13,34847.84,3037.986667,2.0,4.0,6.0,3.0,4,...,0,0.0,1.0,0.0,0.0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33397,3,28.0,1,20002.88,1929.906667,10.0,8.0,29.0,35.0,26,...,1,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33398,2,28.0,1,20002.88,1929.906667,10.0,8.0,29.0,33.0,25,...,1,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33399,4,28.0,1,20002.88,1929.906667,10.0,8.0,29.0,33.0,26,...,2,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33400,1,29.0,1,20002.88,1929.906667,10.0,8.0,29.0,33.0,25,...,2,1.0,0.0,1.0,0.0,0.0,1,2,0,0
33401,5,25.0,9,39628.99,3359.415833,4.0,6.0,5729.0,27.0,6,...,1,1.0,0.0,0.0,0.0,0.0,0,1,0,0

In [72]:
svc=make_pipeline(StandardScaler(),SVC(gamma='auto',kernel="rbf"))

svc.fit(X_train,y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [73]:
pred=svc.predict(X_test)

In [74]:
pred

array([2, 2, 2, ..., 2, 2, 1])

In [75]:
from sklearn.metrics import accuracy_score

In [76]:
print(accuracy_score(y_test,pred))

0.679988025744649